*{
    margin: 0 auto;
}
html{
    background-color: whitesmoke;
}

header{
    background-color: whitesmoke;
    padding: 5em;
}
body {
    text-align: center;
    background-color: grey;
}

/* Button Style */
a.button {
    padding: 14px 16px;
    background-color: #333;
    text-decoration: none;
    color: white;
}


a:hover {
    background-color: #111;
}


hr.solid{
    border-top: 3px solid #bbb;
}